@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;1,100;1,300;1,500&display=swap");

:root {
  --color-elements: rgb(154, 64, 239);
  --color-bgApp: rgb(228, 220, 245);
  --color-shadow: rgb(62, 35, 62);
  --color-headerText: #000;
  --color-formEventBlock: rgba(35, 34, 35, 0.9);
  --color-bgFormEvent: rgba(69, 68, 68, 0.712);
  --color-bgFormElements: rgb(214, 176, 234);
  --color-textBtnSave: #fafafa;
  --color-text: #fafafa;
  --color-calendarItem: rgb(196, 175, 240);
  --color-calendarItemText: #000;
  --color-today: linear-gradient(#a18cd1, #fbc2eb);
  --color-anyMonth: rgba(112, 88, 121, 0.586);
  --color-textAnyMonth: #646262;
  --color-event: rgb(154, 64, 239);
  --color-eventText: #fafafa;
}

.dark {
  --color-elements: rgb(238, 238, 238);
  --color-bgApp: rgb(57, 62, 70);
  --color-shadow: rgb(57, 62, 70);
  --color-headerText: rgb(238, 238, 238);
  --color-formEventBlock: rgba(238, 238, 238, 0.486);
  --color-bgFormEvent: rgb(57, 62, 70);
  --color-bgFormElements: rgba(138, 138, 138, 0.586);
  --color-textBtnSave: #000;
  --color-today: linear-gradient(rgb(214, 90, 49), rgb(162, 124, 111));
  --color-text: #fafafa;
  --color-calendarItemText: rgb(239, 239, 239);
  --color-calendarItem: rgb(34, 40, 49);
  --color-anyMonth: rgba(138, 138, 138, 0.586);
  --color-textAnyMonth: #e5dfdf;
  --color-event: rgb(16, 76, 35);
  --color-eventText: #fafafa;
}

.light {
  --color-elements: rgb(84, 186, 185);
  --color-bgApp: rgb(251, 248, 241);
  --color-shadow: rgb(57, 62, 70);
  --color-headerText: rgb(36, 36, 36);
  --color-formEventBlock: rgba(75, 72, 72, 0.818);
  --color-bgFormEvent: rgb(247, 236, 222);
  --color-bgFormElements: rgba(138, 138, 138, 0.586);
  --color-textBtnSave: #000;
  --color-today: linear-gradient(rgb(84, 186, 185), rgb(84, 186, 116));
  --color-text: rgb(36, 36, 36);
  --color-calendarItemText: #000;
  --color-calendarItem: rgb(233, 218, 193);
  --color-anyMonth: rgba(138, 138, 138, 0.586);
  --color-textAnyMonth: #646262;
  --color-event: rgb(84, 186, 185);
  --color-eventText: #000;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-elements);
}

#root {
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
  background-color: rgb(109, 105, 105);
}
